<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>dsa-ClassRoom</title>
</head>

<body>
    <!-- Header -->
    <section id="header">
        <div class="header container">
            <div class="nav-bar">
                <div class="brand">
                    <a href="/">
                        <h1><span>C</span>lass<span>R</span>oom</h1>
                    </a>
                </div>
                <div class="nav-list">
                    <div class="hamburger">
                        <div class="bar"></div>
                    </div>
                    <ul>
                        <li><a href="/" data-after="Home">Home</a></li>
                        <!-- <li><a href="coarses.html" data-after="Coarses">Coarses</a></li>
                        <li><a href="notes.html" data-after="Notes">Notes</a></li>
                        <li><a href="/" data-after="ChatBot">ChatBot</a></li>
                        <li><a href="#about" data-after="About">About</a></li>
                        <li><a href="#contact" data-after="Contact">Contact</a></li> -->
                        <!-- <li><a href="discuss.html" data-after="Discussion Panel">Discussion Panel</a></li> -->
                        <li><a href="/logout" data-after="logout">logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Header -->
    <!-- Hero Section  -->
    <section id="hero">
        <div class="hero container">
            <div>
                <h1>Welcome to <span></span></h1>
                <h1>Data Structures and Algorithm<span></span></h1>
                <h1>Course<span></span></h1>
               
                <a href="/vdsa" type="button" class="cta">Videos</a>
                <a href="/ndsa" type="button" class="cta">Notes</a>
            </div>
        </div>
    </section>
    <!-- End Hero Section  -->


    <!-- Footer -->
    <section id="footer">
        <div class="footer container">
            <div class="brand">
                <h1><span>C</span>lass<span>R</span>oom</h1>
            </div>
            <h2>Your Online Tutor</h2>
            <div class="social-icon">
                <div class="social-item">
                    <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
                </div>
                <div class="social-item">
                    <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
                </div>
                <div class="social-item">
                    <a href="#"><img src="https://img.icons8.com/bubbles/72/twitter-circled.png" /></a>
                </div>
                <div class="social-item">
                    <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/behance.png" /></a>
                </div>
            </div>
            <p>Copyright © 2021 ClassRoom. All rights reserved</p>
        </div>
    </section>
    <!-- End Footer -->
    <script src="/js/app.js"></script>
</body>

</html>