<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/icon.png">
  <link rel="stylesheet" href="/css/style.css">

  <title>Home-ClassRoom</title>
</head>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="home.html">
            <h1><span>C</span>lass<span>R</span>oom</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <!-- <li><a href="home.html" data-after="Home">Home</a></li> -->
            <!-- <li><a href="coarses.html" data-after="Coarses">Coarses</a></li>
            <li><a href="notes.html" data-after="Notes">Notes</a></li> -->
            <!-- <li><a href="discuss.html" data-after="Discussion Panel">Discussion Panel</a></li> -->
            <!-- <li><a href="#about" data-after="About">About</a></li>
            <li><a href="#contact" data-after="Contact">Contact</a></li> -->
            <li><a href="/login " data-after="logout">login</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->


  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Hello, <span></span></h1>
        <h1>Welcome to <span></span></h1>
        <h1>ClassRoom<span></span></h1>
        <a href="#projects" type="button" class="cta">Let's Study</a>
      </div>
    </div>
  </section>
  <!-- End Hero Section  -->
  <section id="projects">
    <div class="projects container">
        <div class="projects-header">
            <h1 class="section-title">Our <span>Courses</span></h1>
        </div>
        <div class="all-projects">
            <div class="project-item">
                <div class="project-info">
                    <h1>C++ </h1>
                    <h2></h2>
                    <p>C++ is a general-purpose programming language created by Bjarne Stroustrup as an extension of the C programming language, or "C with Classes".</p>
                        <a href="/clanguage" type="button" class="cta">Click Here</a>
                </div>
                <div class="project-img">
                    <img src="/img/c++.jpg" alt="img">
                </div>
            </div>
            <div class="project-item">
                <div class="project-info">
                    <h1>JAVA</h1>
                    <h2></h2>
                    <p>Java is a high-level, class-based, object-oriented programming language that is designed to have as few implementation dependencies as possible.</p>
                        <a href="/java" type="button" class="cta">Click Here</a>
                </div>
                <div class="project-img">
                    <img src="/img/java.jpg" alt="img">
                </div>
            </div>
            <div class="project-item">
                <div class="project-info">
                    <h1>Python</h1>
                    <h2></h2>
                    <p>Python is an interpreted high-level general-purpose programming language. Its design philosophy emphasizes code readability with its use of significant indentation.</p>
                        <a href="/python" type="button" class="cta">Click Here</a>
                </div>
                <div class="project-img">
                    <img src="/img/python.png" alt="img">
                </div>
            </div>
            <div class="project-item">
                <div class="project-info">
                    <h1>Web Development</h1>
                    <h2></h2>
                    <p>Web development is the work involved in developing a website for the Internet or an intranet.Every Web Developer must have a basic understanding of HTML, CSS, and JavaScript.</p>
                        <a href="/web_dev" type="button" class="cta">Click Here</a>
                </div>
                <div class="project-img">
                    <img src="/img/web-dev.jpg" alt="img">
                </div>
            </div>
            <div class="project-item">
                <div class="project-info">
                    <h1>Data Structures & Algorithm</h1>
                    <h2></h2>
                    <p>Data Structure is a way of collecting and organising data in such a way that we can perform operations on these data in an effective way. Data Structures is about rendering data elements in terms of some relationship, for better organization and storage.</p>
                        <a href="/dsa" type="button" class="cta">Click Here</a>
                </div>
                <div class="project-img">
                    <img src="/img/dsa.jpg" alt="img">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Coarses Section -->

  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>C</span>lass<span>R</span>oom</h1>
      </div>
      <h2>Your Online Tutor</h2>
      <div class="social-icon">
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/72/twitter-circled.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/behance.png" /></a>
        </div>
      </div>
      <p>Copyright © 2021 ClassRoom. All rights reserved</p>
    </div>
  </section>
  <!-- End Footer -->
  <script src="/js/app.js"></script>
</body>

</html>