<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon.png">
<link rel="stylesheet" href="/css/style.css">
    <title>WebDev Notes-ClassRoom</title>
</head>

<body>
    <!-- Header -->
    <section id="header">
        <div class="header container">
            <div class="nav-bar">
                <div class="brand">
                    <a href="/">
                        <h1><span>C</span>lass<span>R</span>oom</h1>
                    </a>
                </div>
                <div class="nav-list">
                    <div class="hamburger">
                        <div class="bar"></div>
                    </div>
                    <ul>
                        <li><a href="/" data-after="Home">Home</a></li>
                        <!-- <li><a href="coarses.html" data-after="Coarses">Coarses</a></li>
                        <li><a href="notes.html" data-after="Notes">Notes</a></li> -->
                        <!-- <li><a href="bot" data-after="ChatBot">ChatBot</a></li> -->
                        <!-- <li><a href="about.html" data-after="About">About</a></li> -->
                        <!-- <li><a href="discuss.html" data-after="Discussion Panel">Discussion Panel</a></li> -->
                        <li><a href="/logout" data-after="logout">logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Header -->
    <!-- Hero Section  -->
    <section id="hero">
        <div class="hero container">
            <div>
                <h1>Welcome to <span></span></h1>
                <h1>Web Development<span></span></h1>
                <h1>Notes<span></span></h1>
                <a href="#video" type="button" class="cta">Click Here</a>
            </div>
        </div>
    </section>
    <!-- End Hero Section  -->

    <section id="video">
        <div class="projects-header">
            <h1 class="section-title"><span>W</span>eb  <span>D</span>elopmemt N</span>otes</h1>
        </div>
        <!-- <div class="container"> -->
        <div class="list-container">
            <div class="vid-list">
                <a href="https://drive.google.com/file/d/1DYOokToM6rflg4Yjkx2nJHQgvBnBMiCU/view?usp=sharing"><img
                        src="/img/web-dev.jpg" class="thumbnail"></a>


                <div class="vid-info">
                    <a
                        href="https://drive.google.com/file/d/1DYOokToM6rflg4Yjkx2nJHQgvBnBMiCU/view?usp=sharing">Lecture-0</a>

                </div>
            </div>
            <div class="vid-list">
                <a href="https://drive.google.com/file/d/1aqNRhqFz821PsfvMdGDOLfmDdy4sciws/view?usp=sharing"><img
                        src="/img/web-dev.jpg" class="thumbnail"></a>

                <div class="vid-info">
                    <a
                        href="https://drive.google.com/file/d/1aqNRhqFz821PsfvMdGDOLfmDdy4sciws/view?usp=sharing">Lecture-1</a>

                </div>
            </div>
            <div class="vid-list">
                <a href="https://drive.google.com/file/d/1kSbO0FmIUXqWVOM2fLUxnrgGopV54Atx/view?usp=sharing"><img
                        src="/img/web-dev.jpg" class="thumbnail"></a>
                <div class="vid-info">
                    <a
                        href="https://drive.google.com/file/d/1kSbO0FmIUXqWVOM2fLUxnrgGopV54Atx/view?usp=sharing">Lecture-2.1</a>

                </div>
            </div>
            <div class="vid-list">
                <a href="https://drive.google.com/file/d/1uPR1NY9ljDxwsxrph6sN5T2gNkZ4wwow/view?usp=sharing"><img
                        src="/img/web-dev.jpg" class="thumbnail"></a>

                <div class="vid-info">
                    <a href="https://drive.google.com/file/d/1uPR1NY9ljDxwsxrph6sN5T2gNkZ4wwow/view?usp=sharing">Lecture
                        2.2</a>

                </div>
            </div>
            <div class="vid-list">
                <a href="https://drive.google.com/file/d/1CEQ26T0i4VfFN2uQd2a5g5goVVUxOx0V/view?usp=sharing"><img
                        src="/img/web-dev.jpg" class="thumbnail"></a>

                <div class="vid-info">
                    <a href="https://drive.google.com/file/d/1CEQ26T0i4VfFN2uQd2a5g5goVVUxOx0V/view?usp=sharing">Lecture
                        2.3</a>

                </div>
            </div>
            <div class="vid-list">
                <a href="https://drive.google.com/file/d/1-Wm5-9q1siRcv77e2_NofukeZjbJCM8I/view?usp=sharing"><img
                        src="/img/web-dev.jpg" class="thumbnail"></a>

                <div class="vid-info">
                    <a href="https://drive.google.com/file/d/1-Wm5-9q1siRcv77e2_NofukeZjbJCM8I/view?usp=sharing">Lecture
                        2.4</a>

                </div>
            </div>
            <div class="vid-list">
                <a href="https://drive.google.com/file/d/1oPKPwy9gzoLoT9uxYRxm7a7HcHV0K9Ui/view?usp=sharing"><img
                        src="/img/web-dev.jpg" class="thumbnail"></a>

                <div class="vid-info">
                    <a href="https://drive.google.com/file/d/1oPKPwy9gzoLoT9uxYRxm7a7HcHV0K9Ui/view?usp=sharing">Lecture
                        3.1</a>

                </div>
            </div>
            <div class="vid-list">
                <a href="https://drive.google.com/file/d/12Wp_wwzhSqlv2yRPOj0EX8xsTQEt3oEz/view?usp=sharing"><img
                        src="/img/web-dev.jpg" class="thumbnail"></a>

                <div class="vid-info">
                    <a href="https://drive.google.com/file/d/12Wp_wwzhSqlv2yRPOj0EX8xsTQEt3oEz/view?usp=sharing">Lecture
                        3.2</a>

                </div>
            </div>
            <div class="vid-list">
                <a href="https://drive.google.com/file/d/1GZ7Mp9bhZDkyZ-x5r_V4-thbeWlwLnUp/view?usp=sharing"><img
                        src="/img/web-dev.jpg" class="thumbnail"></a>

                <div class="vid-info">
                    <a href="https://drive.google.com/file/d/1GZ7Mp9bhZDkyZ-x5r_V4-thbeWlwLnUp/view?usp=sharing">Lecture
                        3.3</a>

                </div>
            </div>
            <div class="vid-list">
                <a href="https://drive.google.com/file/d/1ccHQfx-KOsm2uVLJbSQFazZa-1yM9ori/view?usp=sharing"><img
                        src="/img/web-dev.jpg" class="thumbnail"></a>

                <div class="vid-info">
                    <a href="https://drive.google.com/file/d/1ccHQfx-KOsm2uVLJbSQFazZa-1yM9ori/view?usp=sharing">Lecture
                        4.1</a>

                </div>
            </div>
            <div class="vid-list">
                <a href="https://drive.google.com/file/d/1vh2uQDxsefFZeb2YXdTSjvioABmNfS1_/view?usp=sharing"><img
                        src="/img/web-dev.jpg" class="thumbnail"></a>

                <div class="vid-info">
                    <a href="https://drive.google.com/file/d/1vh2uQDxsefFZeb2YXdTSjvioABmNfS1_/view?usp=sharing">Lecture
                        4.2</a>

                </div>
            </div>
            <div class="vid-list">
                <a href="https://drive.google.com/file/d/1G8BJbLJ31AaNy9_ZxNX-LoPS1v8UURRX/view?usp=sharing"><img
                        src="/img/web-dev.jpg" class="thumbnail"></a>

                <div class="vid-info">
                    <a href="https://drive.google.com/file/d/1G8BJbLJ31AaNy9_ZxNX-LoPS1v8UURRX/view?usp=sharing">Lecture
                        5.2</a>

                </div>
            </div>
            <div class="vid-list">
                <a href="https://drive.google.com/file/d/1KKK-cSelrhc73-yzhusGFfYiKw_RRL5Y/view?usp=sharing"><img
                        src="/img/web-dev.jpg" class="thumbnail"></a>

                <div class="vid-info">
                    <a href="https://drive.google.com/file/d/1KKK-cSelrhc73-yzhusGFfYiKw_RRL5Y/view?usp=sharing">Lecture
                        6.1</a>

                </div>
            </div>
            <div class="vid-list">
                <a href="https://drive.google.com/file/d/1vTGWidZ4-QuH6iRZRfcuzTiPSSIlxTja/view?usp=sharing"><img
                        src="/img/web-dev.jpg" class="thumbnail"></a>

                <div class="vid-info">
                    <a href="https://drive.google.com/file/d/1vTGWidZ4-QuH6iRZRfcuzTiPSSIlxTja/view?usp=sharing">Lecture
                        6.2</a>

                </div>
            </div>
            <div class="vid-list">
                <a href="https://drive.google.com/file/d/1A0XK-XtvVrfEZjwy5reQC2nSVqAqM6MQ/view?usp=sharing"><img
                        src="/img/web-dev.jpg" class="thumbnail"></a>

                <div class="vid-info">
                    <a href="https://drive.google.com/file/d/1A0XK-XtvVrfEZjwy5reQC2nSVqAqM6MQ/view?usp=sharing">Lecture
                        6.3</a>

                </div>
            </div>
            <div class="vid-list">
                <a href="https://drive.google.com/file/d/1vBC8o_pGvEkJKUDMTWwcJGqAf-qZQ2VQ/view?usp=sharing"><img
                        src="/img/web-dev.jpg" class="thumbnail"></a>

                <div class="vid-info">
                    <a href="https://drive.google.com/file/d/1vBC8o_pGvEkJKUDMTWwcJGqAf-qZQ2VQ/view?usp=sharing">Lecture
                        7.1</a>

                </div>
            </div>
            <div class="vid-list">
                <a href="https://drive.google.com/file/d/1cNxUT-z3XI6xaOLyCJ4iya94GU5FNg1j/view?usp=sharing"><img
                        src="/img/web-dev.jpg" class="thumbnail"></a>

                <div class="vid-info">
                    <a href="https://drive.google.com/file/d/1cNxUT-z3XI6xaOLyCJ4iya94GU5FNg1j/view?usp=sharing">Lecture
                        8.1</a>

                </div>
            </div>
           


        </div>
        <!-- </div> -->
    </section>

    <!-- Footer -->
    <section id="footer">
        <div class="footer container">
            <div class="brand">
                <h1><span>C</span>lass<span>R</span>oom</h1>
            </div>
            <h2>Your Online Tutor</h2>
            <div class="social-icon">
                <div class="social-item">
                    <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
                </div>
                <div class="social-item">
                    <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
                </div>
                <div class="social-item">
                    <a href="#"><img src="https://img.icons8.com/bubbles/72/twitter-circled.png" /></a>
                </div>
                <div class="social-item">
                    <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/behance.png" /></a>
                </div>
            </div>
            <p>Copyright © 2021 ClassRoom. All rights reserved</p>
        </div>
    </section>
    <!-- End Footer -->
    <script src="/js/app.js"></script>
</body>

</html>