<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon.png">
<link rel="stylesheet" href="/css/style.css">
    <title>DSA-ClassRoom</title>
</head>

<body>
    <!-- Header -->
    <section id="header">
        <div class="header container">
            <div class="nav-bar">
                <div class="brand">
                    <a href="/">
                        <h1><span>C</span>lass<span>R</span>oom</h1>
                    </a>
                </div>
                <div class="nav-list">
                    <div class="hamburger">
                        <div class="bar"></div>
                    </div>
                    <ul>
                        <li><a href="/" data-after="Home">Home</a></li>
                        <!-- <li><a href="coarses.html" data-after="Coarses">Coarses</a></li>
                        <li><a href="notes.html" data-after="Notes">Notes</a></li> -->
                        <!-- <li><a href="bot" data-after="ChatBot">ChatBot</a></li> -->
                        <!-- <li><a href="about.html" data-after="About">About</a></li> -->
                        <!-- <li><a href="discuss.html" data-after="Discussion Panel">Discussion Panel</a></li> -->
                        <li><a href="/logout" data-after="logout">logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Header -->
    <!-- Hero Section  -->
    <section id="hero">
        <div class="hero container">
            <div>
                <h1>Welcome to <span></span></h1>
                <h1>Data Structures and Algorithm<span></span></h1>
                <h1>Videos<span></span></h1>
                <a href="#video" type="button" class="cta">Click Here</a>
            </div>
        </div>
    </section>
    <!-- End Hero Section  -->


    <section id="video">
        <div class="projects-header">
            <h1 class="section-title"><span>D</span>ata  <span>S</span>tructures & <span>A</span>lgorithm <span>V</span>ideos</h1>
        </div>
        <!-- <div class="container"> -->
            <div class="list-container">
                <div class="vid-list">
                    <a href="https://drive.google.com/file/d/12XaG36FEqHYMcs83gv_-QaIm8rut2gIM/view?usp=sharing"><img src="/img/dsa.jpg" class="thumbnail"></a>
                    

                    <div class="vid-info">
                        <a href="https://drive.google.com/file/d/12XaG36FEqHYMcs83gv_-QaIm8rut2gIM/view?usp=sharing">Lecture-0</a>

                    </div>
                </div>
                <div class="vid-list">
                    <a href="https://drive.google.com/file/d/1AS9R954mM3NR74lMGBFWnGFuT5H9rLqX/view?usp=sharing"><img src="/img/dsa.jpg" class="thumbnail"></a>

                    <div class="vid-info">
                        <a href="https://drive.google.com/file/d/1AS9R954mM3NR74lMGBFWnGFuT5H9rLqX/view?usp=sharing">Lecture-1</a>

                    </div>
                </div>
                <div class="vid-list">
                    <a href="https://drive.google.com/file/d/11ALHFBuq2GuYk-5auc52QihDGEgQxKpR/view?usp=sharing"><img src="/img/dsa.jpg" class="thumbnail"></a>
                    <div class="vid-info">
                        <a href="https://drive.google.com/file/d/11ALHFBuq2GuYk-5auc52QihDGEgQxKpR/view?usp=sharing">Lecture-2.1</a>

                    </div>
                </div>
                <div class="vid-list">
                    <a href="https://drive.google.com/file/d/1fS0hy8uvOrczmzVTO2-JjSJJYE-5zjJB/view?usp=sharing"><img src="/img/dsa.jpg" class="thumbnail"></a>

                    <div class="vid-info">
                        <a href="https://drive.google.com/file/d/1fS0hy8uvOrczmzVTO2-JjSJJYE-5zjJB/view?usp=sharing">Lecture 2.2</a>

                    </div>
                </div>
                <div class="vid-list">
                    <a href="https://drive.google.com/file/d/1aYLCGINFO6DxIPqR7fZznV1ZtLdsoddn/view?usp=sharing"><img src="/img/dsa.jpg" class="thumbnail"></a>

                    <div class="vid-info">
                        <a href="https://drive.google.com/file/d/1aYLCGINFO6DxIPqR7fZznV1ZtLdsoddn/view?usp=sharing">Lecture 2.3</a>

                    </div>
                </div>
                <div class="vid-list">
                    <a href="https://drive.google.com/file/d/1xKmPecmdDq9mYQufJ8-2E62zd41h_n55/view?usp=sharing"><img src="/img/dsa.jpg" class="thumbnail"></a>

                    <div class="vid-info">
                        <a href="https://drive.google.com/file/d/1xKmPecmdDq9mYQufJ8-2E62zd41h_n55/view?usp=sharing">Lecture 2.4</a>

                    </div>
                </div>
                <div class="vid-list">
                    <a href="https://drive.google.com/file/d/1x08aFug6ts9vJ_ssB4oTg5fjrokTlb5M/view?usp=sharing"><img src="/img/dsa.jpg" class="thumbnail"></a>

                    <div class="vid-info">
                        <a href="https://drive.google.com/file/d/1x08aFug6ts9vJ_ssB4oTg5fjrokTlb5M/view?usp=sharing">Lecture 3.1</a>

                    </div>
                </div>
                <div class="vid-list">
                    <a href="https://drive.google.com/file/d/17FxqZmPRokIp1r-oL67vnb7vhbOYou-5/view?usp=sharing"><img src="/img/dsa.jpg" class="thumbnail"></a>

                    <div class="vid-info">
                        <a href="https://drive.google.com/file/d/17FxqZmPRokIp1r-oL67vnb7vhbOYou-5/view?usp=sharing">Lecture 3.2</a>

                    </div>
                </div>
                <div class="vid-list">
                    <a href="https://drive.google.com/file/d/1XaXYTulUq-KxnhCUVFICEPy27GqUf8MJ/view?usp=sharing"><img src="/img/dsa.jpg" class="thumbnail"></a>

                    <div class="vid-info">
                        <a href="https://drive.google.com/file/d/1XaXYTulUq-KxnhCUVFICEPy27GqUf8MJ/view?usp=sharing">Lecture 3.3</a>

                    </div>
                </div>
                <div class="vid-list">
                    <a href="https://drive.google.com/file/d/18yvdWTXFTV7PO1d5LkvrcTtaFtCw_-oZ/view?usp=sharing"><img src="/img/dsa.jpg" class="thumbnail"></a>

                    <div class="vid-info">
                        <a href="https://drive.google.com/file/d/18yvdWTXFTV7PO1d5LkvrcTtaFtCw_-oZ/view?usp=sharing">Lecture 4.1</a>

                    </div>
                </div>
                <div class="vid-list">
                    <a href="https://drive.google.com/file/d/1FR56RzyaYukjgg9KSHF_cAyzzc7ERbhq/view?usp=sharing"><img src="/img/dsa.jpg" class="thumbnail"></a>

                    <div class="vid-info">
                        <a href="https://drive.google.com/file/d/1FR56RzyaYukjgg9KSHF_cAyzzc7ERbhq/view?usp=sharing">Lecture 4.2</a>

                    </div>
                </div>
                <div class="vid-list">
                    <a href="https://drive.google.com/file/d/1ju-p1eLZe3v5FSRTHfBaUgqGEtGKmGIv/view?usp=sharing"><img src="/img/dsa.jpg" class="thumbnail"></a>

                    <div class="vid-info">
                        <a href="https://drive.google.com/file/d/1ju-p1eLZe3v5FSRTHfBaUgqGEtGKmGIv/view?usp=sharing">Lecture 5.2</a>

                    </div>
                </div>
                <div class="vid-list">
                    <a href="https://drive.google.com/file/d/1xSaejafW7pGQhU6AOYzGpYjFLvYkuDan/view?usp=sharing"><img src="/img/dsa.jpg" class="thumbnail"></a>

                    <div class="vid-info">
                        <a href="https://drive.google.com/file/d/1xSaejafW7pGQhU6AOYzGpYjFLvYkuDan/view?usp=sharing">Lecture 6.1</a>

                    </div>
                </div>
                <div class="vid-list">
                    <a href="https://drive.google.com/file/d/1v8cJkkKDov2AMIDpmI7Jx2pQpYVKB2ek/view?usp=sharing"><img src="/img/dsa.jpg" class="thumbnail"></a>

                    <div class="vid-info">
                        <a href="https://drive.google.com/file/d/1v8cJkkKDov2AMIDpmI7Jx2pQpYVKB2ek/view?usp=sharing">Lecture 6.2</a>

                    </div>
                </div>
                <div class="vid-list">
                    <a href="https://drive.google.com/file/d/1mTrzdmNQ0h4of0Z0KIibG1sbdvH22HUO/view?usp=sharing"><img src="/img/dsa.jpg" class="thumbnail"></a>

                    <div class="vid-info">
                        <a href="https://drive.google.com/file/d/1mTrzdmNQ0h4of0Z0KIibG1sbdvH22HUO/view?usp=sharing">Lecture 6.3</a>

                    </div>
                </div>
                <div class="vid-list">
                    <a href="https://drive.google.com/file/d/1J1tTHga1uBDo_wBYorFU5TSKxYWpED6y/view?usp=sharing"><img src="/img/dsa.jpg" class="thumbnail"></a>

                    <div class="vid-info">
                        <a href="https://drive.google.com/file/d/1J1tTHga1uBDo_wBYorFU5TSKxYWpED6y/view?usp=sharing">Lecture 7.1</a>

                    </div>
                </div>
                <div class="vid-list">
                    <a href="https://drive.google.com/file/d/1F1fk5IDMQNpwBKQ6R0VXfNgjpQgzIUIR/view?usp=sharing"><img src="/img/dsa.jpg" class="thumbnail"></a>

                    <div class="vid-info">
                        <a href="https://drive.google.com/file/d/1F1fk5IDMQNpwBKQ6R0VXfNgjpQgzIUIR/view?usp=sharing">Lecture 8.1</a>

                    </div>
                </div>
                <div class="vid-list">
                    <a href="https://drive.google.com/file/d/1Y5cli-dMwULdj1X0JfX_GW3H9nNxzheK/view?usp=sharing"><img src="/img/dsa.jpg" class="thumbnail"></a>

                    <div class="vid-info">
                        <a href="https://drive.google.com/file/d/1Y5cli-dMwULdj1X0JfX_GW3H9nNxzheK/view?usp=sharing">Lecture 8.2</a>

                    </div>
                </div><div class="vid-list">
                    <a href="https://drive.google.com/file/d/1ZbAL8HmKSJM1X8xGvCuhDMG4_uZA6Hj2/view?usp=sharing"><img src="/img/dsa.jpg" class="thumbnail"></a>

                    <div class="vid-info">
                        <a href="https://drive.google.com/file/d/1ZbAL8HmKSJM1X8xGvCuhDMG4_uZA6Hj2/view?usp=sharing">Lecture 8.4</a>

                    </div>
                </div>
                <div class="vid-list">
                    <a href="https://drive.google.com/file/d/1FiRa05gK2rUdYv3_Uugh1CTVsZBpoGEx/view?usp=sharing"><img src="/img/dsa.jpg" class="thumbnail"></a>

                    <div class="vid-info">
                        <a href="https://drive.google.com/file/d/1FiRa05gK2rUdYv3_Uugh1CTVsZBpoGEx/view?usp=sharing">Lecture 9.1</a>

                    </div>
                </div>
                <div class="vid-list">
                    <a href="https://drive.google.com/file/d/1B5vu--syVboQHbfM-HdiAIiErL3ezeyW/view?usp=sharing"><img src="/img/dsa.jpg" class="thumbnail"></a>

                    <div class="vid-info">
                        <a href="https://drive.google.com/file/d/1B5vu--syVboQHbfM-HdiAIiErL3ezeyW/view?usp=sharing">Lecture 9.2</a>

                    </div>
                </div>
                
                
            </div>
        <!-- </div> -->
    </section>

    <!-- Footer -->
    <section id="footer">
        <div class="footer container">
            <div class="brand">
                <h1><span>C</span>lass<span>R</span>oom</h1>
            </div>
            <h2>Your Online Tutor</h2>
            <div class="social-icon">
                <div class="social-item">
                    <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
                </div>
                <div class="social-item">
                    <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
                </div>
                <div class="social-item">
                    <a href="#"><img src="https://img.icons8.com/bubbles/72/twitter-circled.png" /></a>
                </div>
                <div class="social-item">
                    <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/behance.png" /></a>
                </div>
            </div>
            <p>Copyright © 2021 ClassRoom. All rights reserved</p>
        </div>
    </section>
    <!-- End Footer -->
    <script src="/js/app.js"></script>
</body>

</html>